body{
 background:#111; color:white; font-family:Arial; text-align:center; margin:0; padding:0;
}
h1{ padding:20px; }
.gallery{
 display:grid;
 grid-template-columns:repeat(3, 1fr);
 gap:10px;
 padding:10px;
}
.gallery img{
 width:100%; height:120px; object-fit:cover; border-radius:8px;
}
