body{
 background:black; color:white; text-align:center; font-family:Arial;
}
video{ width:90%; margin-top:20px; border:2px solid white; border-radius:10px; }
button{ padding:15px 25px; font-size:20px; margin-top:20px; }
#countdown{ font-size:80px; margin-top:20px; }
